* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
  background: aquamarine;
}

header {
  display: flex;
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
  border-bottom: 30px #879274;
  align-items: center;
  flex-direction: column;
}

main {
  margin: 10vh;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.btn {
  background: lightsalmon;
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  margin-top: 0.6em;
  font-weight: 900;
}

.content {
  width: 50%;
  background: white;
  height: fit-content;
}

.timer-box {
  width: fit-content;
  background: lightgreen;
  border-radius: 8px;
  color: #13293d;
  font-size: 20px;
  letter-spacing: 0.21px;
  line-height: 16px;
  max-width: 255px;
  padding: 20px 52px;
  text-align: center;
  margin-top: 0.6em;
  font-weight: 700;
}

.timer-text {
  translate: 0px -37px;
  color: aquamarine;
}

.large-font {
  font-size: 50px;
  text-align: center;
}

.score-box {
  width: fit-content;
  background: white;
  background: lightgreen;
  border-radius: 8px;
  color: #13293d;
  cursor: pointer;
  font-size: 20px;
  letter-spacing: 0.21px;
  line-height: 16px;
  /* max-width: 255px; */
  padding: 20px 52px;
  text-align: center;
  transition-duration: 0.15s;
  transition-property: background-color;
  transition-timing-function: linear;
  margin-top: 0.6em;
  font-weight: 500;
}

#question-title {
  height: 60px;
  width: 100%;
  border-bottom: 1px solid lightgrey;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
  font-size: 20px;
  font-weight: 600;
}

#question-text {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 35px;
  font-size: 18px;
  font-weight: 300;
}
